/* Code by ©Arthur */

/* Basic variables: (field) */
:root {
    --item-row-count: 0;
    --item-row-item-count: 0;
    --field-size-width: 0px;
    --field-size-height: 0px;
    --item-size-width: calc(var(--field-size-width) / var(--item-row-item-count));
    --item-size-height: var(--field-size-height);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#sweeper {
    height: var(--field-size-height);
    width: var(--field-size-width);
    margin: 0 auto;
}

#sweeper div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    background-color: greenyellow;
    width: var(--item-size-width);
    height: calc(var(--field-size-height) / var(--item-row-count));
    transition: background-color 0.05s ease-in-out;
    border: 1px rgba(0, 64, 0, 0.25) solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sweeper div:hover {
    background-color: green;
}

#sweeper div p {
    color: white;
    font-size: calc(var(--field-size-height) / var(--item-row-count));
}

#menu {
    width: 50vw;
}

#menu .info h1, #menu .info p {
    text-align: center;
    width: 100%;
}

#points {
    color: red;
    font-weight: bold;
}

#retry {
    width: 60px;
    height: 20px;
    border-radius: 5px;
    background-color: red;
    opacity: 0;
    cursor: default;
}

#retry p {
    padding: 0;
    margin: 0;
    color: white;
    height: fit-content;
    width: 100%;
    text-align: center;
}

#playtime {
    font-weight: bold;
}